.rules{
    width: 90px;
    height: 40px;
    background-color: hsl(237, 49%, 15%);
    color: white;
    font-size: 14px;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;

}
.play{
    width: 180px ;
    height: 40px;
    background-color: white;
    color:black ;
    border-radius: 7px;
    font-weight: bold;
    border: none;
    /* box-shadow: 3px 3px 2px hsl(217, 16%, 45%); */
    /* margin-bottom: 10px; */
}
.play:hover{color: red;}