.score-box{
    width: 100%;
    height: 100%;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px hsl(217 ,16%, 45%);


}
.score-box--scores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    

}
.score-box--scores .score-box--scores--header .p{
    color: white;
    font-size: 28px;
    font-weight: bolder;
    margin: 0px;
}
.score-box--scores--div{
    width: 124px;
    height: 90px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}
.score-text{
    font-family: 16px;
    color:hsl(229, 64%, 46%) ;
}
.score-number{
    font-size: 40px;
    font-weight: bold;
    color: black;
}