.app{
    background:radial-gradient(hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.score-box-cont{
    display: flex;justify-content: center;
    align-items: center;
    width: 668px;
    height: 157px;
    margin: 100px auto;
}
.item-container{
    width: 450px;
    height: 382px;
    
    background-image: url('./images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.scissors-container ,.paper-container, .rock-container{
    height: 155px;
    width: 161px;
}
.scissors-container{
    position: absolute;
    top: 5px;
    left: 260px;
}
.rock-container{
    position: absolute;
    left: 150px;
    top: 200px;
}
.rule-btn-cont{
width: 90%;
display: flex;
justify-content: flex-end;
margin-bottom: 20px;
}
.playground{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 49%;
}
.win-message{
    color: white;
    font-size: 56px;
    font-weight: bold;}
    .rules-img{
        display: none;
        padding: 50px;
        position: absolute;
        z-index: 5;
        background: white;
    }
    .rules-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        
    }
    .rule-txt{
        font-size: 24px;
    font-weight: bold;
    }
    .rule-close{
        width: 20px;
        height: 20px;}